{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if not user.is_secretary %} 
    <meta http-equiv="refresh" content="0; URL={% url 'allinv' %}" />
    {% endif %}

    <title>Add Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/proj-style.css' %}">
</head>

<body>
    <div class="container">
        
        <form method="POST" class = "project">
            
            {% csrf_token %}
            
            <label for="id_project_name">Furniture name:</label>
            
            {{ form.furniture_name }}
            {{ form.furniture_name.errors }}
    
            <label for="id_dept_name">Department name:</label>

            {{ form.dept_name }}
            {{ form.dept_name.errors }}

            <label for="id_faculty_name">Furniture Type:</label>

            {{ form.furniture_type }}
            {{ form.furniture_type.errors }}
            
            <label for="id_status">Price:</label>
            
            {{ form.price }}
            {{ form.price.errors }}
    
            <label for="id_duration_year">Quantity:</label>
    
            {{ form.quantity }}
            {{ form.quantity.errors }}

            <label for="id_duration_month">Location:</label>
    
            {{ form.location }}
            {{ form.location.errors }}
    
            <button type="submit" class = "submit">Submit!</button>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>

    </div>
</body>

</html>