{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if not user.is_secretary %} 
    <meta http-equiv="refresh" content="0; URL={% url 'allprojects' %}" />
    {% endif %}
    
    <title>Add Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/proj-style.css' %}">
</head>

<body>
    <div class="container">

        <form method="POST" class = "project">
            
            {% csrf_token %}
            
            <label for="id_project_name">Project name:</label>
            
            {{ form.project_name }}
            {{ form.project_name.errors }}
    
            <label for="id_dept_name">Department name:</label>

            {{ form.dept_name }}
            {{ form.dept_name.errors }}

            <label for="id_faculty_name">Faculty name:</label>

            {{ form.faculty_name }}
            {{ form.faculty_name.errors }}
            
            {% if form.status %}
            <label for="id_status">Status:</label>
            
            {{ form.status }}
            {{ form.status.errors }}
            
            {% endif %}
            <label for="id_funds">Allocated Budget:</label>

            {{ form.allocated_funds }}
            {{ form.allocated_funds.errors }}
    
            <label for="id_duration_year">Duration (Years):</label>
    
            {{ form.duration_year }}
            {{ form.duration_year.errors }}

            <label for="id_duration_month">Duration (Months):</label>
    
            {{ form.duration_month }}
            {{ form.duration_month.errors }}
    
            <button type="submit" class = "submit">Submit!</button>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>

</html>