{% extends 'home/home.html' %}

{% block redirect %}

{% if not user.is_secretary %} 
<meta http-equiv="refresh" content="0; URL={% url 'home' %}" />
{% endif %}

{% endblock %}

{% if user.is_secretary %}

{% block register %}
<li>
  <div class="dropdown">
      <button type="button" class="dropbtn">Register New Users
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'student_register' %}">Register New Student</a>
        <a href="{% url 'faculty_register' %}">Register New Teacher</a>
        <a href="{% url 'secretary_register' %}">Register New Secretary</a>
      </div>
  </div>
</li>
{% endblock register %}

{% block content %}

<h2> Secretary View </h2> <br>
<p> Hello Secretary! </p> <br>

{% endblock content %}

{% endif %}