{% load static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">

{% if user.is_authenticated %} 
<meta http-equiv="refresh" content="0; URL={% url 'home' %}" />
{% endif %}

<title> UDIS Login </title>
</head>

<body>

  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>LOGIN</h3>
          <p>Please enter your credentials to login.</p>
        </div>
      </div>
      <form action="{% url 'login_user' %}" method = "POST" novalidate>
        {% csrf_token %}

        <label for="id_username">User ID:</label>

        {{ form.username }}
        {{ form.username.errors }}

        <label for="id_password">Password:</label>

        {{ form.password }}
        {{ form.password.errors }}

        <br>
        <button type="submit">Login</button>
        {% if messages %}
          <ul class="messages">
          {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
        <p class="message">Forgot Password?<a href="{% url 'password_reset' %}"> Reset your password</a></p> <!-- Will be replaced with a forgot password, thiis was to display the functionality of the login system.-->
      </form>
    </div>
  </div>

</body>
</html>